/* Font */

@font-face {
	font-family: 'Satoshi-Variable';
	src: url('../fonts/Satoshi-Variable.woff2') format('woff2'),
			 url('../fonts/Satoshi-Variable.woff') format('woff'),
			 url('../fonts/Satoshi-Variable.ttf') format('truetype');
			 font-display: swap;
			 font-style: normal;
}

/***** Text *****/

html {
	font-family: 'Satoshi-Variable', sans-serif;
	font-weight: 450;
	font-size: 16px;
	color: #ffffff;
	background: #121212;
	width: 100%;
}
body {
	padding: 0.75rem;
}
.heading-l {
	font-size: 3rem;
	line-height: 1.2;
}
.heading-m {
	font-size: 2rem;
	line-height: 1.2;
}
.heading-s {
	font-size: 1.5rem;
	line-height: 1.2;
}
.body-m {
	font-size: 1.125rem;
	line-height: 1.5;
}
.body-s {
	font-size: 0.875rem;
	line-height: 1.5;
}
p {
	padding-top: 3rem;
}

/***** Links *****/

.text-link {
	text-decoration: none;
	color: #ffffff;
	border-bottom: 1px solid #ffffff;
	padding-bottom: 1px;
	transition: all 0.3s ease-in-out;
}
.text-link:hover {
	background: #9918FF;
}

/***** Header *****/

header {
	position: fixed;
	display: inline;
	width: 100%;
	z-index: 1000;
	padding: 1.5rem 2.25rem 0 0.75rem;
	top: 0;
}
.logo-container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 3rem;
	height: 3rem;
	border-radius: 0.5rem;
	float: left;
	background: rgba(18, 18, 18, 0.5);
	backdrop-filter: blur(0.25rem);
	transition: all 0.3s ease-in-out;
}
.logo-container svg {
	fill: #ffffff;
	width: 1.5rem;
}
.logo-container:hover {
	background: #9918FF;
	cursor: pointer;
}

/***** Section  *****/

section {
	margin-top: 4.5rem;
	margin-left: 0.75rem;
	margin-right: 0.75rem;
}
section.intro {
	margin-top: 6.75rem;
}

/***** Footer  *****/

footer {
	float: left;
	width: 100%;
	padding: 12rem 0 1.5rem 0;
	margin: 0 0.75rem 0 0.75rem;
}
.copyright {
	display: inline-block;
	float: left;
}
.footer-links {
	display: inline-block;
	margin: 0.75rem 1.5rem 0 0;
	float: right;
}
.footer-links a {
	margin: 0 0 0 1.5rem;
}

/***** Text Grid *****/

.text-grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-areas: '. . text text text text text text . . . .';
}
.text {
	grid-area: text;
}

/***** Home *****/

.typewrite {
	display: inline;
}

/******************************
* MEDIA QUERIES ***************
******************************/

@media only screen and (max-width: 1200px) { 

	.text-grid {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-areas: '. . text text text text text text text text . .';
	}

}

@media only screen and (max-width: 960px) { 

	.text-grid {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-areas: '. text text text text text text text text text text .';
	}
	footer {
		padding: 9rem 0 1.5rem 0;
	}
}

@media only screen and (max-width: 768px) { 

	.text-grid {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-areas: 'text text text text text text text text text text text text';
	}
	.heading-l {
		font-size: 2.25rem;
		line-height: 1.2;
	}
	.heading-m {
		font-size: 1.75rem;
		line-height: 1.2;
	}
	body {
		padding: 0.5rem;
	}
	.logo-container {
		width: 2.25rem;
		height: 2.25rem;
	}
	.copyright {
		display: block;
		width: 100%;
	}
	.footer-links {
		display: block;
		margin-top: 0.75rem;
		float: left;
	}
	.footer-links a {
		display: inline-block;
		margin: 0 1.5rem 1rem 0;
	}
}